div.requested-rents {
  margin-top: 4em;
  padding-top: 1em;
  padding-bottom: 0.7em;
  width: 85%;

}

div.requested-rents-title {
  margin-left: 30px;
}

table.requested-rents-table {
  text-align: center;
  background-color: #48494B;
  width: 85%;
  border-style: groove;


}

button:disabled {
  background-color: darkslategray;

}

th {
  width: 8em;
  color: white;
}

td {
  color: white;
}

h3, p {
  color: black;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
