<div class="client-profile">
    <div class="column col-md-9 car-info">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
            <mat-card-title><b> Agent Name  </b></mat-card-title>
            <mat-card-content>
                <br/>
                <p class="border-bottom info">Email:   </p>
                <p class="border-bottom info">Address:  </p>
                <p class="border-bottom info">Business registration number: </p>

            </mat-card-content>
            <br/>
        </mat-card>
        </div>


</div>
