<div class="bg col-lg-12 ">
  <section class="container min-container ">
    <div class="card-panel p-sm-5 position-relative">
      <div class="text-center">
        <h1 class="h2 mt-5">Create your account</h1>
      </div>
      <form id="registrationForm" (ngSubmit)="register()"  class="mt-5">

        <div class="row">
          <div class="form-group position-relative col-lg-6">
            <input class="form-control rounded-0" id="firstName"
                   name="firstName"
                   type="text"
                   required="" placeholder="First Name"
                   [(ngModel)]="user.firstName">
          </div>
          <div class="position-relative col-lg-6">
            <input class="form-control rounded-0" id="lastName"
                   name="lastName"
                   type="text"
                   required="" placeholder="Last Name"
                   [(ngModel)]="user.lastName">
          </div>
        </div>

        <div class="row">
          <p class="small mb-2 text-scarlet"></p>
          <div class="form-group position-relative col-lg-6 mt-3">
            <fa-icon class="fa fa-user fa-lg position-absolute " [icon]="faUser"></fa-icon>
            <input class="form-control rounded-0 pl-4" id="username"
                   name="username"
                   type="text"
                   required="" placeholder="Username"
                   [(ngModel)]="user.username">
          </div>
          <div class="position-relative col-lg-6 mt-3">
            <fa-icon class="fa fa-user fa-lg position-absolute " [icon]="faMail"></fa-icon>
            <input class="form-control rounded-0 pl-4" id="email"
                   name="email"
                   type="text"
                   required="" placeholder="Email"
                   [(ngModel)]="user.email">
          </div>
        </div>

        <div class="row">
          <p class="small mb-2 text-scarlet"></p>
          <div class="form-group position-relative col-lg-6 mt-3">
            <fa-icon class="fa fa-email fa-lg position-absolute" [icon]="faPassword"></fa-icon>
            <input class="form-control rounded-0 pl-4" id="password"
                   name="password"
                   type="password"
                   required="" placeholder="Password"
                   [(ngModel)]="user.password">
          </div>
          <div class="position-relative col-lg-6 mt-3">
            <fa-icon class="fa fa-user fa-lg position-absolute" [icon]="faPassword"></fa-icon>
            <input class="form-control rounded-0 pl-4" id="confirmPassword"
                   name="confirmPassword"
                   type="password"
                   required="" placeholder="Confirm Password"
                   [(ngModel)]="user.confirmPassword">
          </div>
        </div>



        <div class="text-right">
          <button class="btn mat-flat-button pr-5 mt-3" type="submit">Sign in</button>
        </div>
      </form>
    </div>

  </section>
  <div class="notifier">
    <notifier-container></notifier-container>
  </div>

</div>

