

 th {
    margin-left: auto;
    margin-right : auto;
    text-align: center;
 }
 table {
     margin-top : 20px;
     margin-left : 35px;
     margin-right : 35px;
 }

 th {
     border : 1px solid black;

 }
 .firstRow, .firstRow:hover {
     background-color: lightgray;
 }
 .lastRow, .lastRow:hover {
    background-color: white;

 }
 th:hover{
     background-color : blueviolet;
 }

 button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
