.tp-container {

    background: rgb(255, 255, 255);
    min-height: 565px;
  height: 100%
 }
button{
     width: 150px;
  border-radius: 100%;
 }
 .container{
     /* border: 1px solid red; */
     margin:40px;
     min-height: 400px;
   height: 100%
 }
