<mat-drawer-container class="tp-container" >
    <mat-drawer mode="side" opened>

        <mat-list>
          <mat-list-item>
            <button (click)="openCodebook()" class="btn-primary">Code book</button>
          </mat-list-item>
            <mat-list-item> <button class="btn-primary" (click) = "showUsers()" >Users</button> </mat-list-item>
          <mat-list-item>
            <button (click)="showComments()" class="btn-primary">Comments</button>
          </mat-list-item>
        </mat-list>

    </mat-drawer>
    <mat-drawer-content>
        <div class="container" *ngIf = "show">
            <app-code-book  [codeBook] = "codeBook" (notify)="onNotify()"></app-code-book>
        </div>
      <div class="container"  *ngIf = "showUser">
        <app-users-list [users] = "users"></app-users-list>
      </div>
      <div class="container" *ngIf = "showCom">
        <app-approving-comments [comments]="comments" ></app-approving-comments>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
