<mat-drawer-container class="tp-container" >
    <mat-drawer mode="side" opened class="sidenav">
        <mat-list>
          <mat-list-item>
            <button (click)="openCodebook()" class="btn text-white ml-5">Code book</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <button class="btn text-white ml-5" (click) = "showUsers()" >Users</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <button (click)="showComments()" class="btn text-white ml-5">Comments</button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content class="bg">
        <div class="container" *ngIf = "show">
            <app-code-book  [codeBook] = "codeBook" (notify)="onNotify()"></app-code-book>
        </div>
      <div class="container"  *ngIf = "showUser">
        <app-users-list [users] = "users"></app-users-list>
      </div>
      <div class="container" *ngIf = "showCom">
        <app-approving-comments [comments]="comments" ></app-approving-comments>
      </div>

    </mat-drawer-content>

  <div class="notifier">
    <notifier-container></notifier-container>
  </div>
  </mat-drawer-container>
