<mat-drawer-container class="tp-container" >
    <mat-drawer mode="side" opened>

        <mat-list>
          <mat-list-item>
              <button class="btn-primary" (click) = "openAgentInfo()" > Agent information</button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="acceptRequests()" class="btn-primary"> Accept requests</button>
          </mat-list-item>
          <mat-list-item>
            <button class="btn-primary" (click) = "createPricelist()" > Create pricelist </button>
          </mat-list-item>
          <mat-list-item>
            <button class="btn-primary" (click) = showAllRents() >All rents</button>
          </mat-list-item>

        </mat-list>

    </mat-drawer>
    <mat-drawer-content>

      <div class="container" *ngIf = "showAgentInfo">
        <app-agent-info (notify)="onNotify()"></app-agent-info>
      </div>
      <div class="container" *ngIf = "showAllRented">
        <app-rent-report (notify)="onNotify()"></app-rent-report>
      </div>
      <div *ngIf="showAccept" class="container">
        <app-accept-requests (notify)="onNotify()"></app-accept-requests>
      </div>
      <div class="container" *ngIf = "showCreatePricelist">
        <app-pricelist (notify)="onNotify()"></app-pricelist>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
