<br/>
<div class="row">
    <div class="notifier">
        <notifier-container></notifier-container>
    </div>

    <div class="column">
      <div class = "map" *ngIf = "showMap">
        <agm-map [latitude]="location.lat" [longitude]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [fitBounds]='location.viewport'>
          <agm-circle [latitude]="location.marker.lat" [longitude]="location.marker.lng" [circleDraggable]="false" [visible]="true" [radius]="55" [fillColor]="'blue'" [fillOpacity]="0.7"></agm-circle>
        </agm-map>
      </div>
      <img *ngIf ="!showMap" class="profile-image" mat-card-image name="profile-picture" src="{{car.imageGallery[0]}}">
      <h6  class="rating" *ngIf="rates">Rating: {{rates.average_rate}}</h6>
        <label class="rating" *ngIf="rates">Voted: {{rates.voted}}</label>
    </div>
    <div class="column col-md-5 car-info">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <mat-card-title><b>Car name</b></mat-card-title>
        <mat-card-content>
            <br/>
            <p class="border-bottom">Brand:  {{car.carBrand}} </p>
            <p class="border-bottom">Model:  {{car.carModel}}</p>
            <p class="border-bottom">Transmission:  {{car.transmissionType}} </p>
            <p class="border-bottom">Class:  {{car.carClass}} </p>
            <div *ngFor="let fuel of car.fuelType">
              <p class="border-bottom">Fuel:  {{fuel.name}} </p>
            </div>
            <p class="border-bottom">Mileage:  {{car.mileage}} </p>
            <p class="border-bottom">Kid seats:  {{car.kidSeats}} </p>
        </mat-card-content>
        <br/>
    </mat-card>
    </div>
    <div class="column imageGallery">
        <div class="row ">
            <div *ngFor="let image of car.imageGallery">
                <img class="image-from-gallery" src="{{image}}"/>
            </div>
        </div>
    </div>
    <div class="comments">
        <h5>Comments:</h5>
        <div *ngFor="let c of comments">
            <hr>
                <label><b>{{c.commenter}}</b>: {{c.content}}</label>
                <label>{{c.dateString}}</label>
        </div>
        <hr>
        <br/><br/>
        <form *ngIf="carOwner==true">
            <textarea name="content" [(ngModel)]="_content" rows="2" cols="70" ></textarea>
            <button class="btn btn-secondary"  type="submit" (click)="addComment()"> Submit </button>
        </form>
    </div>
  </div>
