<div class="container register-form pt-lg-4" >
  <div class="note">
    <h1>Add advertisement</h1>
  </div>
  <form (ngSubmit)="onSubmit()">

    <div class="card my-5">
      <div class="card-body">
      <h5 class="card-header">Car information</h5>
        <label>Brand</label>
        <div class="ml-1">
          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="advertisement.car.carBrand"
                  (change)="updateBrand($event.target.value)" class="custom-select">
              <option disabled selected value> -- select an option -- </option>
              <option *ngFor="let brand of codeBook.carBrands" [ngValue]="brand" >
                {{brand.name}}
              </option>
            </select>
        </div>
        <label>Model</label>
        <div class="ml-1">
          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="advertisement.car.carModel"
                 (change)="updateModel($event.target.value)" class="custom-select">
              <option *ngFor="let model of advertisement.car.carBrand.carModels" [ngValue]="model">
                {{model.name}}
              </option>
            </select>
        </div>
        <label>Class</label>
        <div class="ml-1">
          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="advertisement.car.carClass"
                   class="custom-select">
            <option *ngFor="let class of codeBook.carClasses" [ngValue]="class">
              {{class.name}}
            </option>
          </select>
        </div>
        <label>Transmission type</label>
        <div class="ml-1">
          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="advertisement.car.transmissionType"
                   class="custom-select">
            <option *ngFor="let transmissionType of codeBook.transmissionTypes" [ngValue]="transmissionType">
              {{transmissionType.name}}
            </option>
          </select>
        </div>
        <label>Fuel type</label>
        <div class="ml-1">
          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="advertisement.car.fuelType[0]"
                   class="custom-select">
            <option *ngFor="let fuelType of codeBook.fuelTypes" [ngValue]="fuelType">
              {{fuelType.name}}
            </option>
          </select>
        </div>
        <label for="mileage">Mileage</label>
        <input type="number" class="form-control" id="mileage" min="0" oninput="validity.valid||(value='');"
             [(ngModel)]="advertisement.car.mileage"
             name="mileage" [ngModelOptions]="{standalone:true}">
        <label for="kidsSeats">Kids seats</label>
        <input type="number" class="form-control" id="kidsSeats" min="0" oninput="validity.valid||(value='');"
             [(ngModel)]="advertisement.car.kidSeats"
             name="kidsSeats" [ngModelOptions]="{standalone:true}">
        <label for="availableTracking">Available tracking</label>
        <div class="form-group ml-5 mr-5 m-1">
          <input type="checkbox" id="availableTracking" class="form-control"
                 [(ngModel)]="advertisement.car.availableTracking"
                 name="availableTracking" [ngModelOptions]="{standalone:true}">
        </div>

        <div class="form-group">
          <label for="file">Images</label>
          <input
            id="file"
            type="file"
            class="form-control"
            multiple=""
            (change)="onFileChange($event)"
            >

        </div>

        <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
      </div>
    </div>

    <div class="form-group">
      <label for="kilometresLimit">Kilometres limit</label>
      <input type="number" class="form-control" id="kilometresLimit" min="0" oninput="validity.valid||(value='');"
             [(ngModel)]="advertisement.kilometresLimit"
             name="kilometresLimit" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group">
      <label>Price list</label>
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="advertisement.priceList"
                class="custom-select">
          <option *ngFor="let priceList of codeBook.priceLists" [ngValue]="priceList">
            {{priceList.id}}
          </option>
        </select>
    </div>

    <div class="form-group">
      <label for="discount">Discount</label>
      <input type="number" class="form-control" id="discount" min="0" oninput="validity.valid||(value='');"
             [(ngModel)]="advertisement.discount"
             name="discount" [ngModelOptions]="{standalone:true}">
    </div>

    <div class="form-group">
      <label for="place">Place</label>
      <input type="text" class="form-control" id="place"
             [(ngModel)]="advertisement.place"
             name="discount" [ngModelOptions]="{standalone:true}">
    </div>


    <div class="form-group">
      Choose period of availability of your car: <br/>
        From :
        <input type = "date" [(ngModel)]="advertisement.startDate" placeholder = "Start Date" [ngModelOptions]="{standalone:true}">
        To :
        <input type = "date" [(ngModel)]="advertisement.endDate" placeholder = "End Date" [ngModelOptions]="{standalone:true}">
    </div>
    <button type="submit" class="btn btn-success" style="margin-left: 46.5%;">Submit</button>

  </form>
  <div class="notifier">
    <notifier-container></notifier-container>
  </div>
</div>
