<div class="container">
  <h1>Add advertisement</h1>
  <form>

    <div class="card ml-5 mr-5 m-1">
      <h5 class="card-header">Car information</h5>
      <div class="form-group m-1">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" id="brand">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model">
        <label for="class">Class</label>
        <input type="text" class="form-control" id="class">
        <label for="transmission-type">Transmission type</label>
        <input type="text" class="form-control" id="transmission-type">
        <label for="fuel-type">Fuel type</label>
        <input type="text" class="form-control" id="fuel-type">
        <label for="mileage">Mileage</label>
        <input type="text" class="form-control" id="mileage">
        <label for="kids-seats">Kids seats</label>
        <input type="text" class="form-control" id="kids-seats">
        <label for="available-tracking">Available tracking</label>
        <input type="text" class="form-control" id="available-tracking">
        <label for="images">Images</label>
        <input type="text" class="form-control" id="images">
      </div>
    </div>

    <div class="form-group ml-5 mr-5 m-1">
      <label for="kilometres-limit">Kilometres limit</label>
      <input type="text" class="form-control" id="kilometres-limit">
    </div>

    <div class="form-group ml-5 mr-5 m-1">
      <label for="cdw">Collision damage waiver</label>
      <input type="text" class="form-control" id="cdw">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
