<div class="card">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">

        <img class="picture-card" src="{{advertisement.imageGallery[0]}}" alt="Avatar">
      </div>
      <div class="flip-card-back">
        <h3 style="background-color: dimgrey;">{{advertisement.name}}</h3>
        <table style="width:100%">
          <tr>
            <td>Brand:</td>
            <td>{{advertisement.carBrand}}</td>
          </tr>
          <tr>
            <td>Model:</td>
            <td>{{advertisement.model}}</td>
          </tr>
          <tr>
            <td>Class:</td>
            <td> {{advertisement.carClass}}  </td>
          </tr>
          <tr>
            <td>Fuel:</td>
            <td>{{advertisement.fuelType}}</td>
          </tr>
          <tr>
            <td>Mileage:</td>
            <td>{{advertisement.mileage}} km</td>
          </tr>

          <tr>
            <td>Kid seats:</td>
            <td>{{advertisement.kidSeats}}</td>
          </tr>
          <tr>
            <td>Gear:</td>
            <td>{{advertisement.transmissionType}}</td>
          </tr>
          <tr>
            <td>Rate:</td>
            <td>{{advertisement.rate}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h3><a routerLink="/car-profile-page/{{advertisement.carId}}"> {{advertisement.name}} </a>
    {{advertisement.ownerID}} {{agent}}
    {{currUser.id}}

  </h3>

  <!--  <div class="greyColor">-->
  <!--    <h1 class="greyColor"><a class="greyColor" routerLink="/car-profile-page"> {{advertisement.name}} </a></h1>-->
  <!--  </div>-->


  <p class="price">{{advertisement.price}}$/day</p>
  <div class="blackFont">
    Rate:

    <ng-template #t let-fill="fill">
            <span [class.full]="fill === 100" class="stars">
                <span [style.width.%]="fill" class="half">✯</span>✯
            </span>
    </ng-template>

    <ngb-rating [rate]="advertisement.rate" [readonly]="true" [starTemplate]="t" max="5"></ngb-rating>

  </div>


  <div *ngIf="currUser.id === undefined">
    <button (click)="addToCart(advertisement)" class="blink">

      <div class="discount">Today only -{{advertisement.discount}}%!</div>

    </button>
  </div>
  <div *ngIf="currUser.id !== undefined">

    <button (click)="addToCart(advertisement)" *ngIf="currUser.id !== advertisement.ownerID" class="blink">

    <div class="discount">Today only -{{advertisement.discount}}%!</div>

      </button>
    <button (click)="addToCart(advertisement)" *ngIf="currUser.id === advertisement.ownerID" [disabled]="!agent">

    <div class="discount">Your car</div>

  </button>
  </div>
  <div class="notifier">
    <notifier-container></notifier-container>
  </div>
</div>

