<div class="bg col-lg-12 pt-0 mt-0">
<section class="container min-container py-md-5 mt-4">
<div class="card-panel p-sm-5 position-relative">
  <div class="text-center">
    <h1 class="h2 mt-5">Login to your account</h1>
  </div>
  <form id="loginForm" class="mt-5">
    <p class="small mb-2 text-scarlet"></p>
    <div class="form-group position-relative">
      <fa-icon class="fa fa-user fa-lg position-absolute" [icon]="faUser"></fa-icon>
      <input class="form-control rounded-0 pl-5" id="username"
             name="username"
             type="text"
             required="">
    </div>
    <label for="password" class="pull-left sr-only">Password</label>
    <div class="position-relative">
      <fa-icon class="fa fa-user fa-lg position-absolute" [icon]="faPassword"></fa-icon>
      <input class="form-control rounded-0 pl-5" id="password"
             name="password"
             type="text"
             required="">
    </div>
    <div class="text-center my-4">
      <button class="btn mat-flat-button" type="submit">Log in</button>
    </div>
  </form>
</div>

</section>
</div>
