<div class="bg col-lg-12 ">
<section class="container min-container ">
<div class="card-panel p-sm-5 position-relative">
  <div class="text-center">
    <h1 class="h2 mt-5">Login to your account</h1>
  </div>
  <form id="loginForm" class="mt-5" (ngSubmit)="onClickedLogin()">
    <p class="small mb-2 text-scarlet"></p>
    <div class="form-group position-relative">
      <fa-icon class="fa fa-user fa-lg position-absolute" [icon]="faUser"></fa-icon>
      <input class="form-control rounded-0 pl-5" id="username" [(ngModel)]="currUser.username"
             name="username"
             type="text"
             required="" placeholder="Username">
    </div>
    <div class="position-relative pt-3">
      <fa-icon class="fa fa-user fa-lg position-absolute pt-3" [icon]="faPassword"></fa-icon>
      <input class="form-control rounded-0 pl-5" id="password" [(ngModel)]="currUser.password"
             name="password"
             type="password"
             required="" placeholder="Password">
    </div>

    <div class="row">
      <div class="text-left col-lg-6 my-4">
        <button class="btn mat-flat-button pr-5" type="submit">Forgot password?</button>
      </div>
      <div class="text-right col-lg-6 my-4 pl-5">
        <button class="btn mat-flat-button" type="submit">Log in</button>
      </div>
    </div>
  </form>

  <div class="text-center">
    <button class="btn mat-flat-button mt-3">Doesn't have account? <a routerLink="/registration">Sign in</a></button>
  </div>

  </div>
</section>
  <div class="notifier">
    <notifier-container></notifier-container>
  </div>
</div>
