<mat-toolbar color = "primary">

      <button mat-mini-fab aria-label="Example icon button with a home icon" routerLink="/homepage">
        <mat-icon>home</mat-icon>
      </button>

  <span></span>
  <span class = "filler"></span>
  <button mat-mini-fab routerLink="/profile"  >

    <mat-icon>face</mat-icon>  
  </button>


  <a routerLink="/login" class="text-white mr-3">Login</a> 

  <button mat-mini-fab style="margin-left:10px;" (click) = "openCart()">

    <mat-icon matBadge="{{cartAds.length}}" matBadgePosition="above after" matBadgeColor="warn"  matBadgeOverlap="false"  matBadgeSize="medium">shopping_cart</mat-icon>
     
  </button>

</mat-toolbar>
<router-outlet></router-outlet>
