.tp-container {
  
    background: rgb(255, 255, 255);
    min-height: 565px;
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100px;   
 }
 .center{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: auto;
   margin-left: auto; 
}
.right{
   margin-top:10px;
   display: flex;
   align-items: right;
   justify-content: right;
   margin-left: 900px; 
   margin-right: auto;
}
.btn {
   margin-left: 15px;
   margin-right: 15px;
}
.btn:disabled {
   background-color: gray;
}
.mat-form-field, #picker{
   margin-left : 10px;
}