.tp-container {

    background: rgb(255, 255, 255);
    min-height: 565px;
  height: 100%;
  width: 100%;

 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100px;
 }
 .center{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: auto;
   margin-left: auto;
}
.right{
  margin-top: 5px;
   display: flex;
   justify-content: right;
  margin-left: 87%;
  margin-right: 10px;
}
.btn {
   margin-left: 15px;
   margin-right: 15px;
}
.btn:disabled {
   background-color: gray;
}
.mat-form-field, #picker{
   margin-left : 10px;
}

.inpClass {
   margin-left: 10px;
   width : 120px;
}

.dateInp{
   width: 170px;
}
.matContent{
  width: auto;
  min-height: 635px;
  background-image: url("../images/renta-car.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
