<mat-sidenav-container class="tp-container">
  <mat-sidenav mode="side" opened>


    <div id="picker">
      <mat-label>Start date</mat-label> <br>

      <input class="dateInp"  matInput [matDatepicker]="picker" [(ngModel)]="startDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>

      <mat-divider></mat-divider>
      <mat-label>End date</mat-label> <br>

      <input class="dateInp"  matInput [matDatepicker]="picker2" [(ngModel)]="endDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      <div>
      </div>
      <mat-divider></mat-divider>

    </div>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>Place</mat-label>
      <mat-select [(value)]="place">
        <mat-option value="Novi Sad">Novi Sad</mat-option>
        <mat-option value="Beograd">Beograd</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>

    <div *ngIf="advanceSearch">

      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Brand</mat-label>
        <mat-select [(value)]="brand">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let brand of codeBook.carBrands;" value="{{brand}}">{{brand}}</mat-option>>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Fuel</mat-label>
        <mat-select [(value)]="fuelType">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let type of codeBook.fuelTypes;" value="{{type}}">{{type}}</mat-option>>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>

        <mat-form-field>
        <mat-label>Class</mat-label>
        <mat-select [(value)]="carClass">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let class of codeBook.carClasses;" value="{{class}}">{{class}}</mat-option>>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Model</mat-label>
        <mat-select [(value)]="carModel">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let model of codeBook.carModels;" value="{{model}}">{{model}}</mat-option>>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Transmission type</mat-label>
        <mat-select [(value)]="transmissionType">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let type of codeBook.transmissionTypes;" value="{{type}}">{{type}}</mat-option>>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Collision damage</mat-label>
        <mat-select [(value)]="dmg">
          <mat-option>None</mat-option>
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="Yes">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Kid seats</mat-label>
        <mat-select [(value)]="seats">
          <mat-option>None</mat-option>
          <mat-option value="Yes">One</mat-option>
          <mat-option value="Yes">Two</mat-option>
          <mat-option value="Yes">Three</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>

      <table>
        <tr>
          <td>  <mat-label style="margin-left:10px;">Mileage: </mat-label> </td>
          <td>    <input matInput [(ngModel)]="mileage" class="inpClass" ></td>
        </tr>
        <tr> <td colspan="2"><mat-divider></mat-divider> </td> </tr>
        <tr>
          <td>  <mat-label style="margin-left:10px;">Limit: </mat-label> </td>
          <td>    <input matInput [(ngModel)]="limitMileage" class="inpClass" ></td>
        </tr>

        <tr> <td colspan="2"><mat-divider></mat-divider> </td> </tr>
        <tr>
          <td>  <mat-label style="margin-left:10px;">Min price: </mat-label> </td>
          <td>    <input matInput [(ngModel)]="minPrice" class="inpClass" ></td>
        </tr>
        <tr> <td colspan="2"><mat-divider></mat-divider> </td> </tr>
        <tr>
          <td>  <mat-label style="margin-left:10px;">Max price: </mat-label> </td>
          <td>    <input matInput [(ngModel)]="maxPrice" class="inpClass" ></td>
        </tr>
      </table>




      <mat-divider></mat-divider>

    </div>



    <div class="center">
    --
      <button class="btn btn-primary" (click)="searchAds()"> Search </button>
     --

    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="right">
      <select #mySelect style="width: 170px;" (change)="change(mySelect.value)">
        <option value="price">Price</option>
        <option value="rate">Rate</option>
        <option value="mileage">Mileage</option>
      </select>
      <button class="btn-primary" (click)="changeDirection()">
        <mat-icon>{{arrow}}</mat-icon>
      </button>


    </div>

    <app-advertisement-list *ngIf="showAdds" [advertisements]="advertisements" (notify)="onNotify($event)">
    </app-advertisement-list>
    <div class="center">
      <button class="btn btn-primary" [disabled]="leftArrow" (click)="previousAds()">
        <mat-icon>arrow_left</mat-icon>
      </button>
      --
      <button class="btn btn-primary" [disabled]="rightArrow" (click)="nextAds()">
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>

  </mat-sidenav-content>



</mat-sidenav-container>

<!--   -->
