 <mat-sidenav-container class="tp-container">
    <mat-sidenav #sidenav [(opened)]="opened" mode="side" class="sidenav">
      <br>
      <div id="picker">
        <div class="row">
          <input [(ngModel)]="searchDto.startDate" [min]="minDate" [matDatepicker]="picker" class="dateInp ml-4"
                 placeholder="Start date" disabled matInput>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </div>
        <div class="row mt-4">
          <input [(ngModel)]="searchDto.endDate" [min]="minDate" [matDatepicker]="picker2" class="dateInp ml-4" disabled
                 placeholder="End date" matInput>
          <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker2 disabled="false"></mat-datepicker>
        </div>
        <mat-divider></mat-divider>
      </div>
      <br>
      <label *ngIf="searchDto.startDate>searchDto.endDate" class="warning"> End date cant be lower than start date! </label>
      <mat-form-field class="wrapper ml-3 mt-4">
        <mat-label>Place</mat-label>
        <mat-select class="select" [(value)]="searchDto.place" (selectionChange)="changeOption()">
          <mat-option value="Novi Sad">Novi Sad</mat-option>
          <mat-option value="Beograd">Beograd</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="advanceSearch">
        <mat-form-field class="wrapper ml-3">
          <mat-label>Brand</mat-label>
          <mat-select class="select" [(value)]="searchDto.brand">
            <mat-option>None</mat-option>
            <mat-option (click)="showModels(brand.id)" *ngFor="let brand of codeBook.carBrands"
                        value="{{brand.name}}">{{brand.name}}</mat-option>
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field class="wrapper ml-3">
          <mat-label>Fuel</mat-label>
          <mat-select class="select" [(value)]="searchDto.fuelType">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let type of codeBook.fuelTypes;" value="{{type.name}}">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="wrapper ml-3">
          <mat-label>Class</mat-label>
          <mat-select class="select" [(value)]="searchDto.carClass">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let classCar of codeBook.carClasses;" value="{{classCar.name}}">{{classCar.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="showModel">
          <mat-form-field class="wrapper ml-3">
            <mat-label>Model</mat-label>
            <mat-select class="select" [(value)]="searchDto.carModel">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let model of models;" value="{{model.name}}">{{model.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field class="wrapper ml-3">
          <mat-label>Transmission type</mat-label>
          <mat-select class="select" [(value)]="searchDto.transmissionType">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let type of codeBook.transmissionTypes;" value="{{type.name}}">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="wrapper ml-3">
          <mat-label>Collision damage</mat-label>
          <mat-select class="select" [(value)]="searchDto.dmg">
            <mat-option>None</mat-option>
            <mat-option value='true'>Yes</mat-option>
            <mat-option value='false'>No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="wrapper ml-3">
          <mat-label>Kid seats</mat-label>
          <mat-select class="select" [(value)]="searchDto.seats">
            <mat-option>None</mat-option>
            <mat-option value="0">Zero</mat-option>
            <mat-option value="1">One</mat-option>
            <mat-option value="2">Two</mat-option>
            <mat-option value="3">Three</mat-option>
          </mat-select>
        </mat-form-field>

        <table>
          <tr >
            <td class="pl-2">
              <mat-label style="margin-left:10px;">Mileage:</mat-label>
            </td>
            <td class="pl-2"><input [(ngModel)]="searchDto.mileage" class="inpClass" matInput></td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-divider></mat-divider>
            </td>
          </tr>
          <tr>
            <td class="pl-2">
              <mat-label style="margin-left:10px;">Limit:</mat-label>
            </td>
            <td class="pl-2"><input [(ngModel)]="searchDto.limitMileage" class="inpClass" matInput></td>
          </tr>

          <tr>
            <td colspan="2">
              <mat-divider></mat-divider>
            </td>
          </tr>
          <tr>
            <td class="pl-2">
              <mat-label style="margin-left:10px;">Min price:</mat-label>
            </td>
            <td class="pl-2"><input [(ngModel)]="searchDto.minPrice" class="inpClass" matInput></td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-divider></mat-divider>
            </td>
          </tr>
          <tr>
            <td class="pl-2">
              <mat-label style="margin-left:10px;">Max price:</mat-label>
            </td>
            <td class="pl-2"><input [(ngModel)]="searchDto.maxPrice" class="inpClass" matInput></td>
          </tr>
        </table>


        <mat-divider></mat-divider>

      </div>

      <br>
      <div class="row">
        <div class="text-left ml-2">
          <button (click)="searchAds()" style="width: 260px" class="btn btn-primary" [disabled]="searchDto.startDate>searchDto.endDate">Search</button>
        </div>
        <div>
        </div>
      </div>
      <br>
    </mat-sidenav>

    <mat-sidenav-content class="matContent">
      <div>
      </div>
      <p>
        <button (click)="sidenav.toggle()"  (mouseup)="changeNumAd()" mat-button>
          <mat-icon class="menuToggle">menu</mat-icon>
        </button>
      </p>
      <div class="notifier">
        <notifier-container></notifier-container>
      </div>

      <div *ngIf="showAdds" class="right">

        <select #mySelect (change)="change(mySelect.value)" style="width: 100%;">
          <option value="price">Price</option>
          <option value="rate">Rate</option>
          <option value="mileage">Mileage</option>
        </select>
        <button (click)="changeDirection()" class="btn-primary">
          <mat-icon>{{arrow}}</mat-icon>
        </button>


      </div>
      <div *ngIf="showAdds">
        <app-advertisement-list (notify)="onNotify($event)" [advertisements]="advertisements" [numOfAds]="numOfAds">
        </app-advertisement-list>
      </div>

      <div *ngIf="showAdds" class="center">
        <button (click)="previousAds()" [disabled]="leftArrow" class="btn btn-primary">
          <mat-icon>arrow_left</mat-icon>
        </button>
        --
        <button (click)="nextAds()" [disabled]="rightArrow" class="btn btn-primary">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
