<mat-drawer-container class="tp-container" >
    <mat-drawer mode="side" opened>

        <mat-list>
            <mat-list-item> <button class="btn-primary" (click) = "openClientInfo()" > Profile info</button> </mat-list-item>
            <mat-list-item> <button class="btn-primary" (click) = "openRentRequests()" >Rent requests</button> </mat-list-item>
            <mat-list-item> <button class="btn-primary" (click) = "openHistoryRents()" >Rent history</button> </mat-list-item>
        </mat-list>

    </mat-drawer>
    <mat-drawer-content>

        <div class="container" *ngIf = "showClientInfo">
            <app-client-info (notify)="onNotify()"></app-client-info>
        </div>
        <div class="container" *ngIf = "show">
            <app-requested-rents   (notify)="onNotify()"></app-requested-rents>
        </div>
        <div class="container" *ngIf = "showHistoryRents">
            <app-history-rents (notify)="onNotify()"></app-history-rents>
        </div>
        <div>
            
        </div>

    </mat-drawer-content>
  </mat-drawer-container>



