<div>
  <h3 *ngIf="advertisements.length == 0">Your shop cart is empty!</h3>
  <div *ngIf="advertisements.length != 0">

    <div mat-dialog-content>

      <div class='table-responsive' style="margin-bottom: 2%;">
        <table class='table' style="margin-top: 5%;">

          <tr>
            <th>Image</th>
            <th class='names'>Name</th>
            <th class='names'>Price</th>
            <th class='names'> Remove</th>
          </tr>
          <tr *ngFor="let ad of advertisements">
            <td><img src="{{ad.advertisement.image}}" alt="" height='50' width='50'/></td>
            <td>{{ad.advertisement.name}}</td>
            <td class='item'>{{ad.advertisement.price}}</td>
            <td>
              <button class="btn btn-secondary" (click)="remove(ad)">remove</button>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <mat-radio-group [(ngModel)]="bundle" aria-label="Select an option">
      <mat-radio-button value="false">Each</mat-radio-button>
      <mat-radio-button value="true">Bundle</mat-radio-button>
    </mat-radio-group>
    <div class="center">

      <button (click)="reserve()" [disabled]="advertisements.length == 0" class="btn btn-primary mr-1"> Reserve</button>
      <button class="btn btn-secondary" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</div>
