div.requested-rents{
    margin-top: 4em; 
    padding-top: 1em;
    padding-bottom: 0.7em;
}

div.requested-rents-title{
    margin-left: 30px;
}

table.requested-rents-table{
    text-align: center;
    background-color: #48494B;
}

th{
    width: 8em;
    color: white;
}

td{
    color: white;
}

h3, p{
    color: black;
}
